build/share/partials/home.html
<div class='appView'>
  <aside>
    <ul class='actions'>
      <li>
        <a ng-click='showDeletes = showDeletes == false' ng-init='showDeletes = false'>
          <i class='icon-trash'></i>
          <span ng-hide='showDeletes'>Delete Docs</span>
          <span ng-show='showDeletes'>Finished Deleting</span>
        </a>
      </li>
    </ul>
  </aside>
  <ul class='docRegistry'>
    <li ng-repeat='lang in docRegistry.langs'>
      <h2>
        {{ lang.name }}
        <a ng-click='deleteDocs(lang.name)' ng-show='showDeletes'>
          <i class='icon-remove'></i>
        </a>
      </h2>
      <ul>
        <li ng-repeat='lib in lang.libs'>
          <h3>
            {{ lib.name }}
            <a ng-click='deleteDocs(lang.name, lib.name)' ng-show='showDeletes'>
              <i class='icon-remove'></i>
            </a>
            <span ng-repeat='version in lib.versions | sortVersions'>
              / <a href="#/read/{{ version.root }}">{{ version.name }}</a>
              <a ng-click='deleteDocs(lang.name, lib.name, version.name)' ng-show='showDeletes'>
                <i class='icon-remove'></i>
              </a>
            </span>
          </h3>
        </li>
      </ul>
    </li>
  </ul>
</div>

src/client/partials/home.haml
%div.appView
  %aside
    %ul.actions
      %li
        %a{'ng-click': 'showDeletes = showDeletes == false',
          'ng-init': 'showDeletes = false'}
          %i.icon-trash
          %span{'ng-hide': 'showDeletes'} Delete Docs
          %span{'ng-show': 'showDeletes'} Finished Deleting
  %ul.docRegistry
    %li{'ng-repeat': 'lang in docRegistry.langs'}
      %h2
        = lang.name
        %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name)'}
          %i.icon-remove
      %ul
        %li{'ng-repeat': 'lib in lang.libs'}
          %h3
            = lib.name
            %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name, lib.name)'}
              %i.icon-remove
            %span{'ng-repeat': 'version in lib.versions | sortVersions'}
              \/ <a href="#/read/{{ version.root }}">{{ version.name }}</a>
              %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name, lib.name, version.name)'}
                %i.icon-remove
